In [1]:
import pandas as pd
from sklearn.linear_model import LinearRegression

In [2]:
tra = pd.read_csv("./modelo_regresionLineal.csv")
pre = pd.read_csv("../predict.csv")

In [3]:
train = tra.iloc[13484:] #cojo de mi data limpio mi parte de entrenamiento

In [9]:
X_train = train.drop("price",axis=1)

In [15]:
y_train = tra["price"].iloc[13484:]
y_train

13484    3323
13485     773
13486     706
13487     605
13488    2731
         ...
40450     687
40451    3984
40452    2182
40453    7201
40454     972
Name: price, Length: 26971, dtype: int64

In [16]:
X_test = pre[["carat","depth","table"]]
X_test

       carat  depth  table
0       0.45   62.8   58.0
1       1.23   61.0   56.0
2       0.33   61.8   55.0
3       0.51   58.0   60.0
4       0.40   62.2   59.0
...      ...    ...    ...
13480   0.30   62.2   57.0
13481   1.01   62.3   55.0
13482   0.33   61.9   55.0
13483   0.30   59.3   59.0
13484   1.15   62.6   57.0

[13485 rows x 3 columns]

In [25]:
y_test = tra["price"].iloc[0:13485]
y_test

0         1845
1        10164
2         5513
3         5174
4        10957
         ...
13480      523
13481     1369
13482      652
13483      624
13484     3323
Name: price, Length: 13485, dtype: int64

In [18]:
print(X_train.shape,y_train.shape,X_test.shape,y_test.shape)

(26971, 3) (26971,) (13485, 3) (13485,)

In [19]:
lr = LinearRegression()

In [20]:
modelo = lr.fit(X_train,y_train)

In [21]:
y_pred = modelo.predict(X_test)

In [22]:
from sklearn.metrics import mean_squared_error

In [23]:
e = mean_squared_error(y_test,y_pred)

In [24]:
e**0.5 #resultados muy malos...

5444.123253763309